<table class="table">
    <thead>
      <tr>
        <th scope="col">Name (Job Title)</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Last Date Contacted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList">
        <td (click)="viewContact(contact.id)">{{contact.name}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.email}}</td>  
        <td>{{contact.dateContacted}}</td>
      </tr>
    </tbody>
  </table>